.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.metadata/
*.idea/
*.classpath
*.project
*.springBeans
*.iml
*.settings/
target/
bin/
CATALINA_HOME_IS_UNDEFINED/
*.log
src/main/resources/lib/plugin-entities.jar